@font-face {
    font-family:"Inter";
    src: url(../fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family:"RubikR";
    src: url(../fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family:"RubikM";
    src: url(../fonts/Rubik-Medium.ttf);
}
@font-face {
    font-family:"RubikSB";
    src: url(../fonts/Rubik-SemiBold.ttf);
}